.sidebar {
  padding: 2rem;
  margin: 0;
  width: 20%;
  color: white;
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: rgba(7, 42, 107, 0.44);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.appTitle {
  color: white;
  font-size: 2.7rem;
  font-weight: bold;
  /* background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff); */
  background: linear-gradient(40deg, #ecd823, #cecc56, #03d5ff, #1941c5);
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.projectButton {
  padding: 0.5rem;
  width: 240px;
  max-width: 240px;
  word-wrap: break-word;
  border-radius: 10px;
  margin: 5px;
  transition: box-shadow 0.25s ease, font-size 0.25s ease;
}
.projectButton:hover {
  box-shadow: 5px 5px 100px rgb(231, 192, 19);
  font-size: 1.2rem;
}
.myWorkspace {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.projectList {
  max-height: 40rem;
  overflow-y: auto;
}
.projectList::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}
.projectList::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.527); /* Track color */
}
.projectList::-webkit-scrollbar-thumb {
  background-color: #153879; /* Handle color */
}
